<form (ngSubmit)="onSubmit()">
    <div class="formcomponent">
        <div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Menu Sequence</mat-label>
                    <input
                        type="number"
                        name="menu_seq"
                        [formControl]="formControl.menu_seq"
                        matInput>
                    <mat-error *ngIf="formControl.menu_seq.hasError('required')">
                        {{errorMessages.required}}
                    </mat-error>
                    <mat-error *ngIf="formControl.menu_seq.hasError('min')">
                        {{errorMessages.min}}
                    </mat-error>
                </mat-form-field>
            </div>
            
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Menu Name</mat-label>
                    <input
                        type="text"
                        name="menu_name"
                        [formControl]="formControl.menu_name"
                        matInput>
                    <mat-error *ngIf="formControl.menu_name.hasError('required')">
                        {{errorMessages.required}}
                    </mat-error>
                    <mat-error *ngIf="formControl.menu_name.hasError('minlength')">
                        {{errorMessages.minlength}}
                    </mat-error>
                    <mat-error *ngIf="formControl.menu_name.hasError('maxlength')">
                        {{errorMessages.maxlength}}
                    </mat-error>
                </mat-form-field>
            </div>
    
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Menu Url</mat-label>
                    <input
                        type="text"
                        name="menu_path_url"
                        [formControl]="formControl.menu_path_url"
                        matInput>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Parent Menu</mat-label>
                    <mat-select 
                        name="parent"
                        [formControl]="formControl.parent">
                        <mat-option value="" selected> No parent </mat-option>
                        <mat-option 
                            *ngFor="let parent of menuList" 
                            [value]="parent.id.toString()">{{ parent.menu_name }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div>
            <div class="inputfiles" *ngIf="!disableState">
                <figure class="inputfiles__image">
                    <img [style.background-image]="menuIcon">
                </figure>
                <div>
                    <label 
                        class="inputfiles__label"
                        for="icon_image">
                        <img src="/assets/img/upload_ico.svg">
                        <small>{{ iconFileLabel }}</small>
                    </label>
                    <input
                        #inputIcon
                        id="icon_image"
                        style="display: none;"
                        type="file"
                        accept="image/*"
                        (change)="readImage($event)"
                        name="icon_image"/>
                </div>
            </div>

            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea
                        matInput
                        name="description"
                        [formControl]="formControl.description"></textarea>
                  </mat-form-field>
            </div>
        </div>
    </div>
    <div *ngIf="!disableState">
        <button 
            type="submit" 
            class="full-primary-btn">
            Save
        </button>
        <button 
            type="button" 
            (click)="onCancel()"
            style="margin-left: 0.5rem;"
            class="outline-cancel-btn">
            Cancel
        </button>
    </div>
</form>