@use "src/styles.scss" as main;

$buttons-width: 6rem;
$light-grey: #737373;

textarea {
    height: 10rem !important;
    resize: none !important;
}

#form-section{
    box-shadow: 0.2rem 0.2rem 0.5rem #9a9a9a;
    padding: 1rem;
    border-radius: 0.5rem;

    header{
        @include main.flexbox(row, space-between);
        border-bottom: 1px solid lighten($color: $light-grey, $amount: 40%);
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        
        h3 {
            color: $light-grey;
        }
    }
}

form{
    position: relative;
}

.formcomponent{
    @include main.gridview($rowgap: 1rem, $colgap: 1rem, $coltemplate: 40% auto);

    .mat-form-field{
        width: 100%;
    }

}

::ng-deep .mat-option-text {
    padding-left: 1rem;
}

input, input:disabled, ::ng-deep .mat-select-value-text, textarea {
    color: #737373 !important;
    font-size: 10pt;
}

.inputfiles__label{
    @include main.flexbox(row, space-evenly, center);
    border: 1px solid white;
    padding: 0.5rem;
    background: main.$light-blue;
    color: white;
    border-radius: 0.2rem;
    width: 7rem;
    cursor: pointer;
    box-shadow: 0.2rem 0.2rem 0.3rem #b7b7b7;

    small{
        width: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &:hover{
        background: darken($color: main.$light-blue, $amount: 4%);
    }
}

$buttons: ("primary" "cancel" "green");
@each $btn in $buttons {
    .outline-#{$btn}-btn, .full-#{$btn}-btn {
        width: $buttons-width;
        padding: 0.5rem;
    }
}

@media screen and (max-width: 768px) {
    .formcomponent {
        @include main.gridview($coltemplate: auto);
    }
}