<nav id="upperbar">
    <a 
        id="upperbar--toggler"
        style="cursor: pointer;"
        (click)="toggleSidebar()">
        <img src="/assets/img/menu-open.svg"/>
        <span>menu</span>
    </a>
    <section 
        (click)="showdropdown = !showdropdown" 
        id="upperbar--profilebtn">
        <figure 
            class="profilepic"
            [style.background-image]="profileImage">
        </figure>
        <p>{{ user.email }}</p>
    </section>
    <section 
        *ngIf="showdropdown" 
        id="upperbar--dropdown">
        <figure
            class="profilepic"
            [style.background-image]="profileImage">
        </figure>
        <article>
            <p><strong>{{user.username}}</strong></p>
            <p><small>{{user.email}}</small></p>
        </article>
        <div class="profilebtns">
            <button
                type="button"
                (click)="userProfile()"
                class="inline-btns">
                User Profile
            </button>
            <button
                type="button"
                (click)="changePassword()"
                class="inline-btns">
                Change Password
            </button>
            <button
                type="button"
                class="inline-btns"
                (click)="logout()">
                Logout
            </button>
        </div>
    </section>
</nav>