<section class="router-container spinner--parent">
    <div *ngIf="loading" class="spinner--container">
        <mat-spinner></mat-spinner>
    </div>

    <div id="form-section">
        <header>
            <h3>Detail banner</h3>
            <div *ngIf="!editMode" class="btn-group">
                <button
                    type="button"
                    (click)="editMode = true"
                    class="outline-primary-btn">
                    Update Detail
                </button>
            </div>
        </header>
        <app-banner-form
            [data]="formControlData"
            [forEdit]="true"
            [clearImage]="clearImage"
            [disableState]="!editMode"
            (cancelEvent)="closeForm()"
            (submitEvent)="update($event)"></app-banner-form>
    </div>
</section>
  