<form (ngSubmit)="forgotPassword()">
    <div class="input-wrappers">
        <label for="email"> Email </label>
        <div class="input-content">
            <input 
                required
                type="email"
                name="email"
                matInput
                [formControl]="formControl.email">
        </div>
        <span
            class="alert"
            *ngIf="formControl.email.hasError('email')">
            {{errorMessages.email}}
        </span>
        <span
            class="alert"
            *ngIf="!formControl.email.pristine && formControl.email.hasError('required')">
            {{errorMessages.required}}
        </span>
        <span
            class="alert"
            *ngIf="formControl.email.hasError('maxlength') && !formControl.email.hasError('email')">
            {{errorMessages.maxlength}}
        </span>
        <span
            class="alert"
            *ngIf="formControl.email.hasError('minlength') && !formControl.email.hasError('email')">
            {{errorMessages.minlength}}
        </span>
    </div>

     <div class="input-wrappers">
        <label for="mobile">Mobile Phone</label>
        <div class="input-content">
            <input
                required
                type="tel"
                name="mobile"
                [formControl]="formControl.mobile">
        </div>
        <span
            class="alert"
            *ngIf="!formControl.mobile.pristine && formControl.mobile.hasError('required')">
            {{errorMessages.required}}
        </span>
        <span
            class="alert"
            *ngIf="formControl.mobile.hasError('maxlength')">
            {{errorMessages.maxPhoneNum}}
        </span>
        <span
            class="alert"
            *ngIf="formControl.mobile.hasError('mobilepattern') && !formControl.mobile.hasError('maxlength')">
            {{errorMessages.mobilePatternInvalid}}
        </span>
        <span
            class="alert"
            *ngIf="formControl.mobile.hasError('minlength') && !formControl.mobile.hasError('mobilepattern')">
            {{errorMessages.minPhoneNum}}
        </span>
    </div>
    <div id="form-lower-section">
        <button
            type="button"
            [disabled]="loading"
            [routerLink]="['/auth/login']"
            class="outline-primary-btn">
            Back
        </button>
        <button
            *ngIf="!loading"
            class="full-primary-btn"
            type="submit">
            Submit
        </button>
        <button
            *ngIf="loading"
            [disabled]="true"
            type="button">
            <mat-spinner
                [diameter]="20"></mat-spinner>
        </button>
    </div>
</form>