<form (ngSubmit)="changePassword()">
    <div class="input-wrappers">
        <label for="prev_password"> Previous Password </label>
        <div class="input-content">
            <input 
                required
                [type]="showPassword ? 'text' : 'password'"
                name="prev_password"
                matInput
                [formControl]="formControl.prev_password">
        </div>
        <span
            class="alert"
            *ngIf="!formControl.prev_password.pristine && formControl.prev_password.hasError('required')">
            {{errorMessages.required}}
        </span>
        <span
            class="alert"
            *ngIf="formControl.prev_password.hasError('maxlength')">
            {{errorMessages.maxlength}}
        </span>
        <span
            class="alert"
            *ngIf="formControl.prev_password.hasError('minlength')">
            {{errorMessages.minlength}}
        </span>
    </div>

     <div class="input-wrappers">
        <label for="new_password">New Password</label>
        <div class="input-content">
            <input
                required
                [type]="showPassword ? 'text' : 'password'"
                name="new_password"
                [formControl]="formControl.new_password">
        </div>
        <span
            class="alert"
            *ngIf="!formControl.new_password.pristine && formControl.new_password.hasError('required')">
            {{errorMessages.required}}
        </span>
        <span
            class="alert"
            *ngIf="formControl.new_password.hasError('maxlength')">
            {{errorMessages.maxlength}}
        </span>
        <span
            class="alert"
            *ngIf="formControl.new_password.hasError('minlength')">
            {{errorMessages.minlength}}
        </span>
    </div>

    <div class="input-wrappers">
        <label for="confirm_password">Confirm Password</label>
        <div class="input-content">
            <input
                required
                [type]="showPassword ? 'text' : 'password'"
                name="confirm_password"
                #ctrlConfirmPassword="ngModel"
                [(ngModel)]="confirm_password">
        </div>
        <span
            class="alert"
            *ngIf="!ctrlConfirmPassword.pristine && confirm_password !== formControl.new_password.value">
            Password not match
        </span>
    </div>

    <div id="form-lower-section">
        <button
            type="button"
            [disabled]="loading"
            [routerLink]="['/home']"
            class="outline-primary-btn">
            Home
        </button>
        <button
            *ngIf="!loading"
            class="full-primary-btn"
            type="submit">
            Submit
        </button>
        <button
            *ngIf="loading"
            [disabled]="true"
            type="button">
            <mat-spinner
                [diameter]="20"></mat-spinner>
        </button>
    </div>
</form>